*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Tentei dar uma ajudada Itamar */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}